body{
  background-color: #D5E5DA;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #FFFFFF;
  position: fixed;
  font-family: "Raleway";
  font-size: 24px;
  width:100%;
  text-align: center;
  vertical-align: middle;
}

.header li {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 5%;
  padding-right: 5%;
}

//logo image
.header img{
  height: 50%;
}

.header a {
  display: block;
  text-decoration: none;
  color: black;
}

.main{
  display: grid;
}
